<div class="app">
      
  <!--Toolbar-->
  <div class="toolbar">
    <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" width="50" alt="React Logo" />
    <span>rest api com angular</span>
  </div>

  <!--Container-->
  <div class="container">

    <!--Mini Layout-->
    <div class="mini-layout">

      <!--Input e Button-->
      <div class="d-flex">
        <div class="form-floating w-75">
          <input type="text" [(ngModel)]="tarefa" class="form-control" id="floatingInput" placeholder="Digite sua tarefa" />
          <label for="floatingInput">Digite sua tarefa</label>
        </div>
        <button type="button" (click)="enviarTarefa()" class="btn btn-success w-25 text-uppercase">adicionar</button>
      </div>

      <app-tarefas></app-tarefas>

    </div>
  </div>

</div>